.contactContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.15rem;
  margin: 1rem;
  max-width: 400px;
}
.contactItems {
  padding: 1px;
  margin-top: 0.5rem;
}
.contactPageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkedinContainer {
  display: flex;
  align-items: center;
  border-radius: 0.15rem;
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;
}
.linkedinItem {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.ThankYou {
  font-style: italic;
  display: flex;
  justify-content: center;
}
