.flexcontainer {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  padding: 10px;
}
.traveling {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}
.submitbox {
  padding-bottom: 10px;
}
.submitbox h3 {
  background-color: yellow;
}
.foodpic {
  display: flex;
}
