.flexcontainer {
  display: flex;
  gap: 2rem;
  border: 2px solid black;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  margin: 2rem;
}
body {
  height: 100%;
}
header {
  text-align: center;
}
nav {
  display: flex;
  background-color: green;
  border: 10px solid purple;
  justify-content: space-between;
}
nav a {
  border: 1px dotted black;
  background-color: aqua;
}

.firstbox {
  justify-content: center;
}
.traveling {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}
.submitbox {
  padding-bottom: 10px;
}
.submitbox h3 {
  background-color: yellow;
}
.foodpic {
  display: flex;
}
.firstbox {
  align-items: center;
}
.centertitle {
  align-items: center;
}
.footer {
  background-color: blue;
  color: white;
  text-align: center;
}
.flexcontainer img {
  width: 500px;
  height: 150px;
  object-fit: cover;
  padding: 1rem;
}
.header {
}
/* end about me page */
/* start portfolio page */
